[Unit]
Description=Gstreamer audio service
After=sound.target local-fs.target jackServer.service
Requires=jackServer.service
PartOf=jackServer.service

[Service]
Type=simple
TimeoutStopSec=3
ExecStart=/bin/bash /var/lib/jackAssets/gstreamer-script
Restart=always
RestartSec=3

[Install]
WantedBy=jackServer.service
